 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>System Proficiency</h2>
      <i class="devicon-ubuntu-plain-wordmark colored"></i>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-windows8-original colored"></i> <!-- Replace with a newer Windows icon if available. -->
      <p>Proficient across multiple operating systems, including Linux distributions, Mac OS, and Windows. Familiar with development environments, system configurations, and everyday tasks on each platform.</p>
    </div>  
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <p>Highly proficient in Python and C++, with solid experience in JavaScript.</p>
    </div>
    <div class="tech">
      <h2>Technologies/Environments</h2>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-jira-plain-wordmark colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>Specialized in creating Windows Form applications with Visual Studio. Experienced in project management with Jira and version control with Git.</p>
    </div>
</div>
